[submodule "src/DeflateBlockCompressor"]
	path = src/DeflateBlockCompressor
	url = https://github.com/SuperJMN/DeflateBlockCompressor.git
[submodule "Zafiro"]
	path = Zafiro
	url = https://github.com/SuperJMN-Zafiro/Zafiro.git
