<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resource-fork</key>
	<dict>
		<key>blkx</key>
		<array>
			<dict>
				<key>Attributes</key>
				<string>0x0050</string>
				<key>Data</key>
				<data>
bWlzaAAAAAEAAAAAAAAAAAAAAAAAAFfYAAAAAAAAAAAAAAgA/////gAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM
AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAABAAAAAAAAEAAAAAAAAA
AAAACAAAAAAAAAAIAAAAAAAAEAAAAAAAAAAQAAAAAAABAAAAAAAAAAAAABAAAAAAAAAA
CAAAAAAAACAAAAAAAAAAEAAAAAAAAQAAAAAAAAAAAAAYAAAAAAAAAAgAAAAAAAAwAAAA
AAAAABAAAAAAAAEAAAAAAAAAAAAAIAAAAAAAAAAIAAAAAAAAQAAAAAAAAAAQAAAAAAAB
AAAAAAAAAAAAACgAAAAAAAAACAAAAAAAAFAAAAAAAAAAEAAAAAAAAQAAAAAAAAAAAAAw
AAAAAAAAAAgAAAAAAABgAAAAAAAAABAAAAAAAAEAAAAAAAAAAAAAOAAAAAAAAAAIAAAA
AAAAcAAAAAAAAAAQAAAAAAABAAAAAAAAAAAAAEAAAAAAAAAACAAAAAAAAIAAAAAAAAAA
EAAAAAAAAQAAAAAAAAAAAABIAAAAAAAAAAgAAAAAAACQAAAAAAAAABAAAAAAAAEAAAAA
AAAAAAAAUAAAAAAAAAAH2AAAAAAAoAAAAAAAAAAPsAD/////AAAAAAAAAAAAAFfYAAAA
AAAAAAAAAAAAAK+wAAAAAAAAAAAA
				</data>
				<key>ID</key>
				<string>-2</string>
				<key>Name</key>
				<string>Apple_HFS</string>
			</dict>
		</array>
		<key>plst</key>
		<array>
			<dict>
				<key>Attributes</key>
				<string>0x0050</string>
				<key>Data</key>
				<data>
				</data>
				<key>ID</key>
				<string>0</string>
				<key>Name</key>
				<string>Apple Partition Map</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>